

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.header{
    
    padding: 50px 240px;
    background-color: #fff4e7 ;

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav li{
    list-style: none;
      
    margin-right: 25px;

}
.nav > ul{
    display: flex;
}
.nav a{
    text-decoration: none; 
}
.nav .nav-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.banner1{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner1-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.banner1-img img{
    
    margin: 0px auto;
}
