

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.header{
    padding: 30px 100px;
    background-color: #fff4e7 ;
    justify-content: center;
    /* border: 1px solid red; */

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    width: 100%;
    /* border: 1px solid red; */
}
.nav li{
    list-style: none;
    margin: 15px;

}
.nav > ul{
    display: flex;
}
.nav a{
    text-decoration: none; 
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.banner1{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    /* border: 1px solid red; */
}
.banner1-title h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}
.banner1-desc{
    margin: 20px auto;
    color: #727272;
}
.banner1-img{
    align-items: center;
    margin: 20px auto;
    width: 90%;
    /* border: 1px solid red; */
}
.banner1-img img{
    width: 100%;
    margin: 20px auto;
}
.bann1-text-sec{
    align-items: center;
    width: 700px;
    margin: 100px auto 20px;
}
.bann1-btn{
    color: #fff4e7;
    font-size: 1rem;
    font-weight: 900;
    width: 150px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: #ff900e;
    margin: 25px;
}

/* Responsive for 1st breakpoint 576px */


@media screen and (max-width: 576px){
    .header{
        padding: 15px 20px;
    }
    .nav{
        flex-direction: column;
        text-align: center;
        margin: 10px auto;
    }
    .nav-title{
        font-size: 2rem;        
    }
    .banner1-title{
        margin-top: 50px auto;
    }
    .banner1-title> h1{
        font-size: 3.5rem;
    }
    .bann1-text-sec{
        align-items: center;
        width: 240px;
        margin: 70px auto;
    }
    .banner1-img{
        width: 100%;
    }
    .bann1-btn{
        width: 100px;
        height: 38px;
        font-size: .75rem;
    }
}   